/*===== GERAIS =====*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
  
}

/* ============= CONTAINERS ============ */
.container-img{
    width: 43%;
    
}

.container-img img{
    width: 89%;
    background-color: #ebeef1;
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ebeef1;
    height: 100vh;
    
}

.container-chat {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 55%;
}



.message-left, .message-right {
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 75%;
    font-size: 2.5em;
    margin-top: 5%;
}





/*===== CHAT ======*/

.title{
    margin: 5px 0px 10px 0px;
    font-size: 4em;
}
.main {
    padding-left: 2%;
    border: 8px solid #dddddd;
    border-radius: 24px;
    height: 100%;
    width: 70%;
    padding-right: 2%;
}

.name {
    display: flex;
    color: #a09999;
    font-size: 2em;
    padding-left: 20%;
}

.name > span {
    color: rgb(0, 0, 0);
}

.name-input {
    font-size: 2em;
    font-weight: 700;
    color: #7e7e7e;
    border: none;
    margin: 0px 12px;
    outline: none;
    background-color: #ebebeb;
    width: 90%;
}

.name-input i {
    font-size: 3em;
}

.message-container {
    display: flex;
    flex-direction: column;
    background-image: url('https://i.imgur.com/V2G5OMH.jpeg');
    width: 100%;
    height: 77%;
    overflow-y: scroll;
    overflow-x: hidden;
}




.message-left {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: #fff;
    box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: rgb(0, 0, 0);
    box-shadow: -2px 2px 4px #dcdcdc;
    color: #fff;
}



.message-left > p > span, .message-right > p > span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.name > span {
    font-size: 3em;
}

.feedback {
    font-style: italic;
    font-weight: 900;
    padding: 0px 16px 16px;
    color: #2d2d2d;
    text-align: center;
}


.message-form {
    display: flex;
    width: 100%;
    margin-right: 2%;
    margin-top: 2%;;
}

.message-input {
    width: 90%;
    font-size: 2em;
    border: none;
    outline: none;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 30px;
}

.send-button {
    margin-left: 2%;
    height: 80px;
    font-size: 2em;
    border: none;
    padding: 0px 15px;
    outline: none;
    background-color: rgb(5, 5, 5);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.send-button:hover {
    background-color: #1978f7;
}

.clients-total {
    color: #232425; 
    margin-top: 3%;
    margin: 10px;
    font-size: 2em;
}





